.aboutme__wrapper {
    .wrapper;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 220px;
}

.aboutme__title {
    font-family: @bebasFont;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    color: @white;
    margin-top: 0;
    margin-bottom: 170px;
}

.aboutme__right {
    max-width: 615px;
}

.aboutme__text {
    font-family: @proDisplayFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: @white;
    margin-bottom: 56px;
    margin-top: 0;
    margin-left: 0;
    max-width: 615px;
}

.aboutme__btn {
    position: absolute;
    .btn-reset();
    background-color: @white;
    border: 1px rgba(131, 193, 250, 1);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    right: 56px;
    top: 241px;
}

.aboutme__link {
    font-family: @bebasFont;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 56px;
    padding-right: 36px;
    padding-bottom: 56px;
    padding-left: 36px;
    color: #333333;
    text-decoration: none;
}