.header__switch {
    .btn-reset;
}

.header__wrapper {
    .wrapper;
    display: flex;
    align-items: flex-start;
    padding-top: 27px;
    margin-bottom: 106px;
    
}

.header__logo {
    margin-right: 36px;
}

.header__switch {
    margin-right: 158px;
}
.header__switch-icon {
    fill: @white;
}
.header__switch-icon:hover {
    fill: #F2C94C;
}
.header__btn {
    margin-left: auto;

    &:hover {
        background-color:  rgba(131, 193, 250, 1);
    }
}