.navigation {
    width: 135px;
}

.navigation__list {
    .list-reset;
}

.navigation__item {
    margin-bottom: 23px;
    color: @white;
}



.navigation__link {
    font-family: @proDisplayFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: @white;
    text-decoration: none;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;

    
    &:hover {
        border: 1px solid #83C1FA;
        border-radius: 110%;
        }
}




